.section {
  background-color: #000;
  color: #fff;
  padding: 60px 0;
  overflow: clip;
}

.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #fa9600;
  left: 0;
  bottom: 0;
}

.section-title p {
  margin-bottom: 0;
  color: #ccc;
}
